{% extends 'base.html' %}

{% block title %}Загрузить QR-код{% endblock %}

{% block content %}
<h2>Загрузить QR-код</h2>
<div class="drop-area">
    <p>Нажмите здесь или перетащите файл для загрузки</p>
</div>
<input style="display: none;" accept="image/*" id="fileUpload" type="file">
<div style="display: none;" id="resultSection">
    <p id="scanResult"></p>
    <button id="copyBtn">Скопировать результат</button>
    <button id="sendToTelegramBtn">Отправить в Telegram</button>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}
