<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Приложение QR-кодов{% endblock %}</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easyqrcodejs@4.4.13/dist/easy.qrcode.min.js"></script>
    <script>
        const tg = window.Telegram.WebApp;
        tg.ready()
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

{% block extra_scripts %}{% endblock %}
</body>
</html>
