<b>title</b>: {{ application_form_for_admins['title'] }}
description: {{ application_form_for_admins['description'] }}
photo: {{ application_form_for_admins['photo'] }}
status: {{ application_form_for_admins['status'] }}
resident_full_name: {{ application_form_for_admins['resident_full_name'] }}
resident_phone_number: {{ application_form_for_admins['resident_phone_number'] }}
resident_room: {{ application_form_for_admins['resident_room'] }}