<b>title</b>: {{ application_form_for_admins['title'] }}
description: {{ application_form_for_admins['description'] }}
full_name: {{ application_form_for_admins['full_name'] }}
phone_number: {{ application_form_for_admins['phone_number'] }}
room: {{ application_form_for_admins['room'] }}
