<b>Вот что может делать этот бот:</b>
* <i>Удалить ожидающую исполнения бронь:</i> /delete_reservation

* <i>Посмотреть мою бронь:</i> /check_my_reservation
* <i>Посмотреть все мои бывшие брони:</i> /check_my_reservations_archive