<b>Вот что может делать этот бот:</b>

* <i>Создать заявку на ремонт:</i> /add_application_form

* <i>Посмотреть мою бронь:</i> /check_my_reservation
* <i>Посмотреть все мои бывшие брони:</i> //check_my_reservations_archive