Для админа
* <i>Заселить гостя:</i> /confirm_reservation

* <i>Добавить мастера:</i> /hire_repairman
* <i>Уволить мастера:</i> /fire_repairman

* <i>Посмотреть статистику:</i> /check_stats

{# * <s><i>Получить свой telegram_id (для администраторов):</i> /get_my_telegram_id</s> #}