<b>Вот что может делать этот бот:</b>
* Зарегистрироваться как проживающий: /registration
* Добавить новую заявку на ремонт: /add_application_form
* Получить свой telegram_id (для администраторов): /get_my_telegram_id