<b>Проверьте правильность данных для брони:</b>
* Количество человек: <i>{{ body['people_quantity'] }}</i>
* Класс номера: <i>{{ body['room_class'] }}</i>
* Дата заезда: <i>{{ body['check_in_date'] }}</i>
* Дата выезда: <i>{{ body['eviction_date'] }}</i>