<b><i>Проблема:</i></b> {{ body['title'] }}
<b><i>Подробное описание проблемы:</i></b> {{ body['description'] }}
<b><i>Статус заявки:</i></b> <b>{{ body['status'] }}</b>

<b><i>Данные проживающего:</i></b>
<b><i>ФИО:</i></b> {{ body['resident_full_name'] }}
<b><i>Номер телефона:</i></b> {{ body['resident_phone_number'] }}
<b><i>Номер комнаты:</i></b> {{ body['resident_room'] }}