<b>Проблема</b>: {{ body['title'] }}
Подробное описание проблемы: {{ body['description'] }}
Статус заявки: {{ body['status'] }}

<b>Данные проживающего:</b>
ФИО: {{ body['resident_full_name'] }}
Номер телефона: {{ body['resident_phone_number'] }}
Номер комнаты: {{ body['resident_room'] }}